<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/theme.css" th:href="@{/styles/theme.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/pics.css" th:href="@{/styles/pics.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/input.css" th:href="@{/styles/input.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css" th:href="@{/styles/navigation.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/styles/layout.css" th:href="@{/styles/layout.css}"/>
	<script src="../static/scripts/lib/jquery-3.2.1.min.js" th:src="@{/scripts/lib/jquery-3.2.1.min.js}"></script>
	<script>	
	$(document).ready(function() {
		$("#pwd").focus(function() {
			/* $("#submitBtnContainer").animate({
				paddingLeft:"10px"
			}) */
			$("#submitBtnContainer").animate({
				width: $("#submitBtn").outerWidth(true) + 14 + "px"
			})
		});
		$("#pwd").focusout(function() {
			/* $("#submitBtnContainer").animate({
				paddingLeft:"0px"
			}) */
			$("#submitBtnContainer").animate({
				width: "0px"
			})
		});
	});
	</script>
</head>
<body>
	<div class="topbar"><span class="topbar">symphonyyy.</span></div>
	
	<div class="notifBoxContainer" th:if="${error} != null">
		<div class="notifBox">
			<div class="notifHeader">error</div>
			<div class="notifMsg" th:text="${error}"></div>
		</div>
		<br />
	</div>
	
	<div class="body">
		<img class="central" src="../static/pics/VirtualMaestro.png" th:src="@{/pics/VirtualMaestro.png}"/>
		<br/>
		<form action="/home" method="post">
			<table style="margin:auto">
			
				<tr>
					<td><input class="regularTextBox" type="password" placeholder="Password" name="pwd" id="pwd"/></td>
	    				<td>
	    				<div id="submitBtnContainer" class="invisible" style="width:0; overflow:hidden;">
	    					<input id="submitBtn" class="regularBtn" style="margin-left:5px; width:50px;" type="submit" value="Go" />
    					</div>
    					</td>
	    			</tr>
	    		</table>
    		</form>
    </div>
</body>
</html>