<!DOCTYPE html>
<section ng-controller="ThingController">
    <h1>{{thing.name}}</h1>
    <br/>
    <br/>

    <h2>Controls</h2>
    <div>
        <div style="padding-left: 16px; border-left: 4px solid steelblue">
            <table style="border-collapse: collapse">
                <tr ng-repeat="attr in thing.attributes">
                    <td style="text-align: left; padding-right: 32px;"><h2>{{attr.name}}</h2></td>
                    <td style="text-align: left; padding-left: 32px; border-left: 1px solid lightsteelblue">
                        <form id="{{attr.aid}}-valueForm">
                            <label ng-if="attr.dataType.type == 'binary'" ng-click="toggleValue(attr.aid)" class="switch">
                                <input ng-if="attr.value == 1" type="checkbox" name="value" checked>
                                <input ng-if="attr.value == 0" type="checkbox" name="value">
                                <span class="slider round"></span>
                            </label>
                            <label ng-if="attr.dataType.type == 'number'">
                                <input type="number" name="value" value="{{attr.value}}"
                                       min="{{attr.dataType.constraints.min}}"
                                       max="{{attr.dataType.constraints.max}}"/>
                                <button type="button" ng-click="updateValue(attr.aid)">submit</button>
                            </label>
                            <label ng-if="attr.dataType.type == 'enumeration'">
                                <input ng-repeat="val in attr.dataType.constraints.values" type="radio" name="value" value="{{val}}"/>
                                <button type="button" ng-click="updateValue(attr.aid)">submit</button>
                            </label>
                            <br/>
                            <label ng-if="attr.dataType.type == 'string'">
                                <textarea name="value">{{attr.value}}</textarea>
                                <button type="button" ng-click="updateValue(attr.aid)">submit</button>
                            </label>
                        </form>
                    </td>
                </tr>
            </table>
        </div>
        <br/>
        <br/>

        <h2>Data</h2>
        <div style="padding-left: 16px; border-left: 4px solid darkorange">
            <div ng-repeat="attr in thing.attributes">
                <h2>{{attr.name}}</h2>
                <div style="padding-left: 16px">
                    <div ng-if="attr.dataType.type == 'number' || attr.dataType.type == 'binary'">
                        <h3>Value over Time</h3>
                        <canvas id="{{attr.aid}}-chart-records" ng-init="loadRecordsChart(attr.aid)">
<!--                                class="chart chart-line"-->
<!--                                chart-data="charts.abcdefgh.data"-->
<!--                                chart-labels="charts.abcdefgh.labels"-->
<!--                                chart-series="charts.abcdefgh.series"-->
<!--                                chart-dataset-override="charts.abcdefgh.datasetOverride"-->
<!--                                chart-options="charts.abcdefgh.options"-->
<!--                                chart-click="onClick">-->
                        </canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>