<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>VirtualMaestro</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/theme.css" th:href="@{/styles/theme.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/pics.css" th:href="@{/styles/pics.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css" th:href="@{/styles/navigation.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/input.css" th:href="@{/styles/input.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/layout.css" th:href="@{/styles/layout.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/smarthome.css" th:href="@{/styles/smarthome.css}"/>
	<script src="../static/scripts/lib/jquery-3.2.1.min.js" th:src="@{/scripts/lib/jquery-3.2.1.min.js}"></script>
	<script src="../static/scripts/animations.js" th:src="@{/scripts/animations.js}"></script>
	<script src="../static/scripts/form_actions.js" th:src="@{/scripts/form_actions.js}"></script>
</head>


<body>
	<div th:fragment="topbar" class="topbar">
		<a href="/home"><img class="smallLink" style="float:left; margin-left:0px; background-color:black;" src="../static/pics/symbol_white.png" th:src="@{/pics/symbol_white.png}" /></a>
		<div class="navbar">
			<a href="/home">home</a>
			<a href="/devices/overview">devices</a>
			<a href="/devices/composer">composer</a>
			<a href="/help">help</a>
		</div>
		<a href="/settings"><img class="smallLink" style="float:right; margin-right:0px; background-color:black;" src="../static/pics/settings_white.png" th:src="@{/pics/settings_white.png}" /></a>
	</div>
	
	<!-- notification -->
	<div th:fragment="notifBox" class="notifBoxContainer" id="notif"></div>
	
	<!-- for page-dimming overlay -->
	<div th:fragment="bodyOverlay" class="body_overlay"></div>
</body>
</html>