<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/theme.css" th:href="@{/styles/theme.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/pics.css" th:href="@{/styles/pics.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/input.css" th:href="@{/styles/input.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css" th:href="@{/styles/navigation.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/styles/layout.css" th:href="@{/styles/layout.css}"/>
</head>
<body>
	<div class="topbar"><span class="topbar">symphony.</span></div>
	
	<!-- <div class="notifBoxContainer" id="notifBox">
		<div class="notifBox" th:if="${error} != null">
			<div class="notifHeader">error</div>
			<div class="notifMsg" th:text="${error}"></div>
		</div>
	</div>
	<br /> -->
	<!-- <div class="notifBox" style="top:60px;">
		<div class="notifHeader" th:text="${header}">DEDE</div>
		<div class="notifMsg" th:text="${msg}">DRDR</div>
	</div>
	<br /> -->
	
	<div class="body">
		[(${msg})]
    </div>
</body>
</html>