<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="../static/styles/theme.css" th:href="@{/styles/theme.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/pics.css" th:href="@{/styles/pics.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/input.css" th:href="@{/styles/input.css}"/>
    <link rel="stylesheet" type="text/css" href="../static/styles/navigation.css" th:href="@{/styles/navigation.css}"/>
	<link rel="stylesheet" type="text/css" href="../static/styles/layout.css" th:href="@{/styles/layout.css}"/>
	<script src="../static/scripts/animations.js" th:src="@{/scripts/animations.js}"></script>
	<script src="../static/scripts/lib/jquery-3.2.1.min.js" th:src="@{/scripts/lib/jquery-3.2.1.min.js}"></script>
</head>
<body>
	<div class="topbar"><span class="topbar">symphony.</span></div>
		<div class="notifBoxContainer" th:if="${error} != null">
			<div class="notifBox">
				<div class="notifHeader">error</div>
				<div class="notifMsg" th:text="${error}"></div>
			</div>
			<br />
		</div>
		<img class="central" src="../static/pics/VirtualMaestro.png" th:src="@{/pics/VirtualMaestro.png}"/>
		<br/>
		<form action="/register" method="post">
			<table style="margin:auto">
			<tr>
				<td><input class="regularTextBox" type="password" placeholder="Create password" name="pwd"/><br/></td>
	    		</tr>
	    		<tr>
				<td><input class="regularTextBox" type="password" placeholder="Retype password" name="pwd2"/><br/><br/></td>
	    		</tr>
	    		<tr>
				<td><input class="regularBtn" style="margin:auto; width:70px;" type="submit" value="Go" /></td>
	    		</tr>
	    	</table>
    	</form>
    <!-- </div> -->
</body>
</html>
